@import '../../../styles/global.scss';

.container {
  @include noSelect;
  @include layeredBorder;
  flex: 4;
  min-height: 85vh;
  display: flex;
  flex-flow: column nowrap;



  .title {
    font-size: 25px;
    font-family: $header-font-family;
    text-align: center;
  }
}
