@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap');

/* GLOBAL SETTINGS */
// Colors
$color-main: #000;
$color-background: #fff;

// Fonts & Font sizes
$cursive-font: 'Lobster', cursive;
$main-font: 'Fjalla One', sans-serif;

/* COMMON COMPONENTS SETTINGS */
// Element
$element-font: $main-font;
$element-main-color: $color-main;
$element-secondary-color: $color-background;

// Info
$info-font: $main-font;
$info-main-color: $color-main;
$info-secondary-color: $color-background;

// MapContainer
$map-font: $main-font;
$map-border-color: $color-main;

// Search
$search-font: $main-font;
$search-border-color: $color-main;

/* FEATURES SETTINGS */
// Adress
$adress-header-font: $main-font;
$adress-main-color: $color-main;

//Alert
$alert-font: $main-font;
$alert-container-background-color: rgba(255,255,255, .7);
$alert-box-background-color: $color-background;
$alert-main-color: $color-main;

//History
$history-font: $main-font;
$history-main-color: $color-main;

/* LAYOUT COMPONENTS SETTINGS */
// Header
$header-logo-font: $cursive-font;
$header-font-family: $main-font;

/* GLOBAL MIXINS */

@mixin noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin button {
  border: 3px solid $color-main;
  font-family: $header-logo-font;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $color-background;
    background: $color-main;
    cursor: pointer;
  }
}

@mixin layeredBorder {
  padding: 10px;
  border: 1px solid $color-main;
  box-shadow: $color-main 0px 0px 0px 2px inset, $color-background 10px -10px 0px -3px, $color-main 10px -10px, $color-background 20px -20px 0px -3px, $color-main 20px -20px;
}
