@import '../../../styles/global.scss';

.container {
  @include noSelect;
  @include layeredBorder;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  min-width: 225px;
  max-height: 95vh;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
  display: none;
}

  .title {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 25px;
    font-family: $history-font;
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      height: 6px;
      right: 0;
      bottom: -10px;
      left: 0;
      background: $history-main-color;
    }
  }
}
