@import '../../../styles/global.scss';

.container {
  z-index: 0;
  @include noSelect;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $alert-container-background-color;
  font-family: $alert-font;
  display: flex;
  align-items: center;
  justify-content: center;

  .box {
    z-index: 100;
    background: $alert-box-background-color;
    width: 450px;
    height: 250px;
    padding: 50px;
  }

  .title {
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      content: '';
      height: 6px;
      right: 0;
      bottom: -5px;
      left: 0;
      background: $alert-main-color;
    }
  }

  .subtitle {
    text-align: center;
    margin-bottom: 25px;
  }

  .okButton {
    margin: 0 auto;
    width: 25%;
    @include button;
  }
}
