@import '../../../styles/global.scss';

.container {
  flex: 1;
  margin: 0 0 0 auto;
  padding: 2px;
  width: 48%;
  font-family: $info-font;

  .title {
    padding-top: 35px;
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      content: '';
      height: 4px;
      right: 0;
      bottom: -5px;
      left: 0;
      background: $info-main-color;
    }
  }

  .contentContainer {
    display: flex;
    flex-flow: column nowrap;

    .element {
      position: relative;
      font-size: 16px;
      margin: 0 auto;
      height: 40px;
      width: 300px;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      gap: 15px;

      .elementTitle, .elementContent {
        flex: 2;
      }

      .copyContainer {
        position: relative;
        flex: 1;
        background-color: $info-main-color;
        color: $info-secondary-color;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

        .copy, .blend {
          pointer-events: none;
          position: absolute;
          top: 1;
          right: 1;
          bottom: 1;
          left: 1;
        }

        .blend {
          display: none;
        }

        [class*='active'] {
          display: block;
        }

        [class*='hidden'] {
          display: none;
        }


        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        .copyContainer {
          opacity: 1;
        }
      }
    }

    .noElement {
      text-align: center;
    }
  }
}
