@import '../../../styles/global.scss';

.container {
  flex: 1;
  margin: 0 0 0 auto;
  padding: 2px;
  width: 48%;
  @include select;

  .title {
    padding-top: 35px;
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    font-size: 18px;
    font-family: $header-font-family;
    text-align: center;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      content: '';
      height: 4px;
      right: 0;
      bottom: -5px;
      left: 0;
      background: black;
    }
  }

  .contentContainer {
    display: flex;
    flex-flow: column nowrap;

    .element {
      position: relative;
      font-family: $header-font-family;
      font-size: 16px;
      margin: 0 auto;
      height: 40px;
      width: 300px;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      gap: 15px;

      .elementTitle, .elementContent {
        flex: 2;
      }

      .copy {
        flex: 1;
        background-color: black;
        color: white;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        .copy {
          opacity: 1;
        }
      }
    }
  }
}
