@import '../../../styles/global.scss';

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  flex: 4;
  height: 100%;

  .title {
    margin: 0 auto;
    max-width: 50%;
    position: relative;
    font-size: 25px;
    font-family: $adress-header-font;
    text-align: center;
    margin-bottom: 5px;

    &::after {
      position: absolute;
      content: '';
      height: 6px;
      right: 0;
      bottom: -5px;
      left: 0;
      background: $adress-main-color;
    }
  }

  .detailsContainer {
    width: 100%;
    padding: 5px 10px;
    height: 90%;
    gap: 20px;
  }
}
